UPLOAD_FOLDER=/var/uploads
DATABASE_URL=postgresql+psycopg2://ctfd:ctfd@db/ctfd
REDIS_URL=redis://cache:6379
WORKERS=1
LOG_FOLDER=/var/log/CTFd
ACCESS_LOG=-
ERROR_LOG=-
REVERSE_PROXY=true
UPLOAD_PROVIDER=
PRESET_ADMIN_NAME=
PRESET_ADMIN_EMAIL=
PRESET_ADMIN_PASSWORD=
PRESET_ADMIN_TOKEN=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_METADATA_URL=
KEYCLOAK_CLIENT_SECRET=
BWS_PROJECT=
BWS_ACCESS_KEY_ID=
BWS_SECRET_ACCESS_KEY=
BWS_S3_ENDPOINT_URL=
BWS_S3_REGION=
BWS_S3_BUCKET=
CHALLENGE_URL_TEMPLATE=https://chal-{hash}.example.com/
CHALLENGE_RUNTIME_SECONDS=